@model ManagerDashboardViewModel

<div class="container-fluid">

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fa fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>

    <div class="row">
        @foreach (var card in Model.SummaryCards)
        {
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card @card.BorderCss shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold @card.AccentClass text-uppercase mb-1">
                                    @card.Title
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">@card.Value</div>
                            </div>
                            <div class="col-auto">
                                <i class="@card.IconCss"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="row">

        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Quick Actions:</div>
                            <a class="dropdown-item" href="#">Download</a>
                            <a class="dropdown-item" href="#">Share</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">View details</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="managerAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                            aria-labelledby="dropdownMenuLink2">
                            <div class="dropdown-header">Quick Actions:</div>
                            <a class="dropdown-item" href="#">Download</a>
                            <a class="dropdown-item" href="#">Share</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">View details</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="managerPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fa fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-circle text-info"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Projects</h6>
                </div>
                <div class="card-body">
                    @foreach (var project in Model.Projects)
                    {
                        var label = project.Percentage >= 100 ? "Complete!" : $"{project.Percentage}%";
                        <h4 class="small font-weight-bold">@project.Title <span class="float-right">@label</span></h4>
                        <div class="progress mb-4">
                            <div class="progress-bar @project.ProgressBarClass" role="progressbar"
                                style="width: @project.Percentage%"
                                aria-valuenow="@project.Percentage" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    }
                </div>
            </div>

            <div class="row">
                @foreach (var colorCard in Model.PaletteCards)
                {
                    var textClass = colorCard.UsesLightText ? "text-white" : "text-black";
                    var toneClass = colorCard.UsesLightText ? "text-white-50" : "text-black-50";
                    <div class="col-lg-6 mb-4">
                        <div class="card @colorCard.BackgroundClass @textClass shadow">
                            <div class="card-body">
                                @colorCard.Title
                                <div class="@toneClass small">@colorCard.HexCode</div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>

        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Illustrations</h6>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                            src="@Url.Content("~/image/about_banner.jpg")"
                            alt="Posting illustration">
                    </div>
                    <p>Add modern SVG illustrations to your projects using <a target="_blank" rel="nofollow"
                            href="https://undraw.co/">unDraw</a>, a constantly updated collection of beautiful art you
                        can use completely free and without attribution.</p>
                    <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on unDraw &rarr;</a>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Development Approach</h6>
                </div>
                <div class="card-body">
                    <p>SB Admin 2 leverages Bootstrap 4 utility classes to reduce CSS bloat and improve page performance.
                        Custom components and helpers help you build dashboards quickly and consistently.</p>
                    <p class="mb-0">Take a moment to get familiar with Bootstrap utility classes to get the most out of
                        this admin theme.</p>
                </div>
            </div>

        </div>
    </div>

</div>
