@using Models.Helper
@inject Models.Interface.ILanguageResolver LanguageResolver
@{
    var currentLanguageCode = LanguageResolver.Resolve(Context);
    var currentLanguage = LanguageCatalog.Find(currentLanguageCode);
    var languageOptions = LanguageCatalog.Options;
    var languageReturnUrl = (Context.Request.Path + Context.Request.QueryString).ToString();
    var isRtl = LanguageCatalog.IsRtl(currentLanguageCode);
    var navAlignmentClass = isRtl ? "mr-auto" : "ml-auto";
    var navHome = StaticTextCatalog.Get(currentLanguageCode, "nav.home");
    var navAbout = StaticTextCatalog.Get(currentLanguageCode, "nav.about");
    var navAccommodation = StaticTextCatalog.Get(currentLanguageCode, "nav.accommodation");
    var navGallery = StaticTextCatalog.Get(currentLanguageCode, "nav.gallery");
    var navBlog = StaticTextCatalog.Get(currentLanguageCode, "nav.blog");
    var navBlogDetails = StaticTextCatalog.Get(currentLanguageCode, "nav.blogDetails");
    var navElements = StaticTextCatalog.Get(currentLanguageCode, "nav.elements");
    var navContact = StaticTextCatalog.Get(currentLanguageCode, "nav.contact");
    var navManagerLogin = StaticTextCatalog.Get(currentLanguageCode, "nav.managerLogin");
    var footerNewsletterTitle = StaticTextCatalog.Get(currentLanguageCode, "footer.newsletter.title");
    var footerNewsletterCaption = StaticTextCatalog.Get(currentLanguageCode, "footer.newsletter.caption");
    var footerNewsletterPlaceholder = StaticTextCatalog.Get(currentLanguageCode, "footer.newsletter.placeholder");
    var footerNewsletterSubmit = StaticTextCatalog.Get(currentLanguageCode, "footer.newsletter.submit");
    var footerFollow = StaticTextCatalog.Get(currentLanguageCode, "footer.follow");
}

<!DOCTYPE html>
<html lang="@currentLanguageCode" dir="@(isRtl ? "rtl" : "ltr")">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Royal Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="@Url.Content("~/css/bootstrap.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendors/linericon/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendors/owl-carousel/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendors/nice-select/css/nice-select.css")">
    <link rel="stylesheet" href="@Url.Content("~/vendors/owl-carousel/owl.carousel.min.css")">
    <!-- main css -->
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/responsive.css")">
</head>

<body>
    <!--================Header Area =================-->
    <header class="header_area">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/image/Logo.png")" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav @navAlignmentClass">
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Home")">@navHome</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">@navAbout</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">@navAccommodation</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">@navGallery</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                                aria-haspopup="true" aria-expanded="false">@navBlog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="#">@navBlog</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">@navBlogDetails</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">@navElements</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Contact", "Home")">@navContact</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="languageDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-globe"></i> @currentLanguage.DisplayName
                            </a>
                            <div class="dropdown-menu" aria-labelledby="languageDropdown">
                                @foreach (var option in languageOptions)
                                {
                                    var activeClass = option.Code == currentLanguageCode ? "active" : string.Empty;
                                    <a class="dropdown-item @activeClass"
                                       href="@Url.Action("SetLanguage", "Localization", new { culture = option.Code, returnUrl = languageReturnUrl })">
                                        @option.DisplayName
                                    </a>
                                }
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("LoginManagers", "Managers")">@navManagerLogin</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    @RenderBody()



    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">About Agency</h6>
                        <p>The world has become so fast paced that people don’t want to stand by reading a page of
                            information, they would much rather look at a presentation and understand the message. It
                            has come to a point </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">Navigation Links</h6>
                        <div class="row">
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Feature</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="list_style">
                                    <li><a href="#">Team</a></li>
                                    <li><a href="#">Pricing</a></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6 class="footer_title">@footerNewsletterTitle</h6>
                        <p>@footerNewsletterCaption</p>
                        <div id="mc_embed_signup">
                            <form target="_blank"
                                action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                method="get" class="subscribe_form relative">
                                <div class="input-group d-flex flex-row">
                                    <input name="EMAIL" placeholder="@footerNewsletterPlaceholder" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = '@footerNewsletterPlaceholder '" required="" type="email">
                                    <button class="btn sub-btn" type="submit">@footerNewsletterSubmit</button>
                                </div>
                                <div class="mt-10 info"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-footer-widget instafeed">
                        <h6 class="footer_title">InstaFeed</h6>
                        <ul class="list_style instafeed d-flex flex-wrap">
                            <li><img src="@Url.Content("~/image/instagram/Image-01.jpg")" alt=""></li>
                            <li><img src="@Url.Content("~/image/instagram/Image-02.jpg")" alt=""></li>
                            <li><img src="@Url.Content("~/image/instagram/Image-03.jpg")" alt=""></li>
                            <li><img src="@Url.Content("~/image/instagram/Image-04.jpg")" alt=""></li>
                            <li><img src="@Url.Content("~/image/instagram/Image-05.jpg")" alt=""></li>
                            <li><img src="@Url.Content("~/image/instagram/Image-06.jpg")" alt=""></li>
                            <li><img src="@Url.Content("~/image/instagram/Image-07.jpg")" alt=""></li>
                            <li><img src="@Url.Content("~/image/instagram/Image-08.jpg")" alt=""></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="border_line"></div>
            <div class="row footer-bottom d-flex justify-content-between align-items-center">
                <p class="col-lg-8 col-sm-12 footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is
                    made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
                <div class="col-lg-4 col-sm-12 footer-social">
                    <span class="d-block mb-2 text-uppercase font-weight-bold">@footerFollow</span>
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-dribbble"></i></a>
                    <a href="#"><i class="fa fa-behance"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="@Url.Content("~/js/jquery-3.2.1.min.js")"></script>
    <script src="@Url.Content("~/js/popper.js")"></script>
    <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/vendors/owl-carousel/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.ajaxchimp.min.js")"></script>
    <script src="@Url.Content("~/js/mail-script.js")"></script>
    <script src="@Url.Content("~/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/vendors/nice-select/js/jquery.nice-select.js")"></script>
    <script src="@Url.Content("~/js/mail-script.js")"></script>
    <script src="@Url.Content("~/js/stellar.js")"></script>
    <script src="@Url.Content("~/vendors/lightbox/simpleLightbox.min.js")"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
