@model AboutContentDto
@using Models.Helper
@inject Models.Interface.ILanguageResolver LanguageResolver
@{
    var lang = LanguageCatalog.Normalize(LanguageResolver.Resolve(Context));
    var isRtl = LanguageCatalog.IsRtl(lang);
    var sectionDir = isRtl ? "rtl" : "ltr";
    var textAlignClass = isRtl ? "text-md-right" : "text-md-left";
}

<section class="about_history_area section_gap" dir="@sectionDir">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d_flex align-items-center order-2 order-md-1">
                <div class="about_content @textAlignClass">
                    <h2 class="title title_color">
                        @Model.TitleLine1 <br />
                        @Model.TitleLine2
                    </h2>
                    <p>@Model.Body</p>
                    <a href="@Model.ButtonUrl" class="button_hover theme_btn_two">@Model.ButtonText</a>
                </div>
            </div>
            <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
                <img class="img-fluid" src="@Model.ImagePath" alt="about section">
            </div>
        </div>
    </div>
</section>
