@model IReadOnlyList<global::TourDto>

<section class="latest_blog_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">latest posts from blog</h2>
            <p>The French Revolution constituted for the conscience of the dominant aristocratic class a fall from </p>
        </div>
        <div class="row mb_30">
            @foreach (var item in Model)
            {
                var detailUrl = Url.Action("Tour", "Home", new { id = item.Id, slug = item.Slug }) ?? "#";
                <div class="col-lg-4 col-md-6">
                    <div class="single-recent-blog-post">
                        <div class="thumb">
                            <a href="@detailUrl">
                                <img class="img-fluid" src="@item.Foto" alt="@item.TourName">
                            </a>
                        </div>
                        <div class="details">
                            <div class="tags">
                                <a href="@Url.Action("Category", "Home", new { category = item.Category })" class="button_hover tag_btn">@item.CategoryString</a>
                            </div>
                            <a href="@detailUrl">
                                <h4 class="sec_h4">@item.TourName</h4>
                            </a>
                            <p>@item.MiniDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
